.body {
  width: 100%;
  color: white;
  text-shadow: 2px 2px 4px black;
  background-color: rgba(50, 36, 36, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5px;
}

.id {
  margin-top: 4px;
  font-size: 12px;
}
.img {
  margin-top: 2px;
  border: 1px solid black;
  border-radius: 5px;
}

.label {
  margin-bottom: -18px;
  font-weight: bold;
  color: rgb(138, 43, 226);
}

span {
  color: rgb(138, 43, 226);
  font-weight: bold;
}
.instruccionesContainer {
  border-bottom: 1px solid black;
}
.instItem {
  color: rgb(138, 43, 226);
  font-weight: bold;
}
.button {
  width: 200px;
  height: 40px;
  margin-bottom: 10px;
  background-color: yellow;
  color: black;
  border: 1px solid rgb(255, 255, 250, 0.5);
  border-radius: 3px;
  font-weight: 500;
  border: none;
}

.button:hover {
  background-color: black;
  color: yellow;
  border: 1px solid white;
  cursor: pointer;
}
